
/* .button-holder {
  background: #68CBFA;
  font-size: 80.5%;
  float: left;
  width: 50%;
} */

.shutterbtn-style {
  float: left;
  display: block;
  width: 120px;
  height: 100px;
  font-size: 2em;
  margin: 10px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: transparent;
  overflow: hidden;
  border-radius: 0.25rem;
  text-decoration: none;
}

.shutterbtn-style span {
  font-family: "Times";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  text-align: center;
  background: none;
  z-index: 99999;
}

.shutterbtn-style span:nth-of-type(1) {
  height: 0;
  padding: 0;
  margin: 0;
  top: 51%;
}

.shutterbtn-style:hover span:nth-of-type(1) {
  height: 100%;
  top: 0px;
}

.shutterbtn-style span:nth-of-type(2) {
  transform: scale(0.75, 0.75);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
}

.shutterbtn-style:hover span:nth-of-type(2) {
  transform: scale(1, 1);
  border: none;
  color: #fff;
}

.fadeborder
{
  border: 5px solid #00a085;
  opacity: 0.3;
}
